# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Environment files
.env
.env.backup
.env.production

# Auth / tool files
/auth.json
.phpactor.json
.phpunit.result.cache

# Dependencies
/node_modules
/vendor

# Laravel build & runtime
/public/build
/public/hot

# === UPLOAD FILES (PENTING) ===
/public/storage/*
!/public/storage/.gitignore

# Laravel storage keys
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml

